dist: trusty

language: bash

addons:
    apt_packages:
        - build-essential
        - git
        - curl

cache:
    directories:
        - $HOME/data/download/
        - $HOME/miniconda3/

before_install:
  - bash .travis/travis_before_install.sh
  - export PATH="/home/travis/miniconda3/bin:$PATH"

install:
    - export PATH="/home/travis/miniconda3/bin:$PATH"
    - conda config --add channels defaults
    - conda config --add channels conda-forge
    - conda config --add channels bioconda
    - conda install -c bioconda snakemake
    - bash src/install/from_tarball.sh

script:
    - export PATH="/home/travis/miniconda3/bin:$PATH"
    - travis_wait 50 snakemake --timestamp --use-conda -j

after_failure:
    - find -name "*.log" -printf "%T@\t%p\n" | sort -n | cut -f 2 | head -20 | xargs tail -vn +1
